.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.heading {
    color: white;
}

.chat {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    font-size: 0.85rem;
    max-width: var(--max-width);
    width: max-content;
    z-index: 2;
    font-family: var(--font-mono);
}

.chat p {
    position: relative;
    margin: 0;
    padding: 1rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 1px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}

.chatContainer {
    background-color: white;
    max-width: 900px;
    width: 100%;
    padding: 20px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
}

.inputContainer button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.inputBox {
    max-width: 900px;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 1rem;
}

.inputBox:focus {
    outline: 2px solid green;
}
